includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 6

    ignoreErrors:

    excludePaths:
        - app/Http/Middleware/EnsureCompanyIsActive.php
        - app/Support/Concerns/BelongsToCompany.php

